<h3>Sign in</h3>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>


<h3>Sign up</h3>

<form action="/new_user" method="post">
    <input type="text" name="new_user" placeholder="new_user">
    <input type="text" name="new_password" placeholder="new_password">
    <input type="submit">
</form>
