<form action="/new_blog" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="content" value="content">
    <input type="submit">
</form>

<% @blogs.each do |blog| %>

    <h4><a href='/view_blog/<%= blog.id %>'><%= blog.title %></a></h4>

<% end %>
